@font-face {
    font-family: "Outfit";
    src: url('./Outfit/Outfit-VariableFont_wght.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color:#2B2A2B ;
    padding: 12px 40px;
    align-items: center;
    color: white;
}

.logo{
    display: flex;
    gap: 7px;
    font-size: 23.463px;
    
    
   
}
.logoCafe{
    width: 20px;
    height: 25px;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    gap: 16px;
    padding: 16px;
}
.tiendaBotton{
    background-color: transparent;
    color: white;
    padding: 8px;
    gap: 8px;
    border: none;
    
}
.numeroContacto{
    display: flex;
    align-items: center;
    gap: 8px;
}

.botonIniciaSesion{
    color: white;
    background-color:#515051;
    padding: 12px 24px;
    border-radius: 4px;
    gap: 8px;
}

.seccionUno{
    gap: 24px;
}
.header{
display: flex;
justify-content: space-between;
padding: 48px 40px;
gap: 24px;
align-items: center;

}

.informacionHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 588px;
    height: 232px;
}

h1{
    font-size: 40px;
    font-weight: 600;
    color: #000;
}
h3{
    font-size: 18px;
    font-weight: 600; 
    color: #2A5B45;
}

.botonesHeader{
    display: flex;
    gap: 16px;
}

.botonDescubrirOrigenes{
    padding: 12px 24px;
    gap: 8px;
    background-color: #1F1815;
    border-radius: 4px;
    color: white;
}

.botonComprarCafe{
    padding: 12px 24px;
    gap: 8px;
    background-color: #2A5B45;
    border-radius: 4px;
    color: white;
}

.parrafoSeciones{
    color: #111827;
    font-weight: 400;
    font-size: 14px;
}

.fotoHeader {
    width: 588px;
    height: 390px;
    border-radius: 20px;
}

.imgPlantaCafe{
    border-radius: 20px;
}
.contenedorSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 48px 147px;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    background-image:url(imagenCafe.jpeg);
    background-size: cover;
    background-position: center;
    height: 380px;
}
.tituloUnoSeccionDos{
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    
}
.contenedoresSeccionDos{
    display: flex;
    width: 996px;
    gap: 24px;

}
.contenedoresBlancosSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color:#FFF ;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
    width: 100%;
}
.logosSeccionDos{
    border-radius: 20px;
    background: #2A5B45;
    padding: 12px;

}
.titulosSeccionDos{
    color: white;
    font-size: 24px;
    font-weight: 500;
    gap: 8px;

}
.textosSeccionDos{
    color: #111827;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
