@font-face {
    font-family: "Outfit";
    src: url('./Outfit/Outfit-VariableFont_wght.ttf');
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color:#2B2A2B ;
    padding: 12px 40px;
    align-items: center;
    color: white;
}

.logo{
    display: flex;
    gap: 7px;
    font-size: 23px;
}
.logoCafe{
    width: 20px;
    height: 25px;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    gap: 16px;
    padding: 16px;
}
.tiendaBotton{
    background-color: transparent;
    color: white;
    padding: 8px;
    gap: 8px;
    border: none;
    
}
.numeroContacto{
    display: flex;
    align-items: center;
    gap: 8px;
}

.botonIniciaSesion{
    color: white;
    background-color:#515051;
    padding: 12px 24px;
    border-radius: 4px;
    gap: 8px;
    border: none;
}

.seccionUno{
    gap: 24px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 48px 40px;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

.informacionHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 588px;
}

h1{
    font-size: 40px;
    font-weight: 600;
    color: #000;
}
h3{
    font-size: 18px;
    font-weight: 600; 
    color: #2A5B45;
}

.botonesHeader{
    display: flex;
    gap: 16px;
}

.botonDescubrirOrigenes{
    padding: 12px 24px;
    gap: 8px;
    background-color: #1F1815;
    border-radius: 4px;
    color: white;
}

.botonComprarCafe{
    padding: 12px 24px;
    gap: 8px;
    background-color: #2A5B45;
    border-radius: 4px;
    color: white;
}

.parrafoSeciones{
    color: #111827;
    font-weight: 400;
    font-size: 14px;
}

.fotoHeader {
    width: 588px;
    height: 390px;
    border-radius: 20px;
}

.imgPlantaCafe{
    border-radius: 20px;
}
.contenedorSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 48px 147px;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    background-image:url(imagenCafe.jpeg);
    background-size: cover;
    background-position: center;
   
}
.tituloUnoSeccionDos{
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    
}
.contenedoresSeccionDos{
    display: flex;
    width: 996px;
    gap: 24px;

}
.contenedoresBlancosSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color:#FFF ;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
    width: 100%;
}
.logosSeccionDos{
    border-radius: 20px;
    background: #2A5B45;
    padding: 12px;

}
.titulosSeccionDos{
    color: white;
    font-size: 24px;
    font-weight: 500;
    gap: 8px;

}
.textoPedido{
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedorSeccionTres{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.tiposCafes{
   display: flex;
   justify-content: center;
   gap: 24px;
   padding: 24px;
   align-items: center; 
}
.cafeVenta{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    gap: 24px;
    align-items:center;
    text-align: center;
}
.cafeVenta:hover{
    border-radius: 8px;
    border: 1px solid #E3DED7;
    background: #F7F5F3;

}
.botonAñadir:hover{
    border-radius: 4px;
    background: #2A5B45;
}
.novedadesSeccionTres{
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}
.botonAñadir{
    padding: 8px;
    gap: 8px;
    border-radius: 4px;
    background: rgba(42, 91, 69, 0.70); 
}

button{
    background-color: transparent;
    border: none;
    color: #FFF;
}
.verTodos{
   display: flex;
   justify-content: center;
   font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
}
.infoCafe{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.tipografiaCafes{
    font-size: 14px;
    font-weight: 600;
    
}



.seccionCuatro{
    display: flex;
    padding: 48px 386px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background: var(--Green, #2A5B45);
}

.tituloSeccionCuatro{
    text-align: center;
    color: #FFF;
}
.preguntasFrecuentes{
    display: flex;
    flex-direction: column;
    gap:16px ;
    /* align-items: center; */   
}

.faq{
    display: flex;
    flex-direction: column;
    width: 668px;
    padding: 24px;
    gap: 16px;
    border-radius: 10px;
    background: #FFF;
}

.preguntaPrecios{
    background-color: #FFF;
    border-radius: 10px;
    background: #FFF;
}
.pregunta{
   display: flex;
  justify-content: space-between;
}
.preguntaEnvio{
    background-color: #FFF;
    border-radius: 10px;
    background: #FFF; 
}
.resolverDudas{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
    color: #FFF;
    justify-content: center;
}



.pruebaNuestroCoffee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 45px 40px;
    gap:100px;
    background: #F7F5F3;
    
    
}

.informacionPruebalo{
    display: flex;
    flex-direction: column;
    width: 457px;
    gap: 16px;
  
}

.textoPruebaNuestroCafe{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;

}

.fotoCofeeTienda {
    width: 588px;
    height: 390px;
    border-radius: 20px;
}

.tiendaCafe{
    border-radius: 20px;
}
.textoVerde{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    color:  #2A5B45;
}
.comoLlegar{
    display: flex;
    font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
}

.seccionSeis{
    display: flex;
    background-color:#E3DED7;
    justify-content: center;
    align-items: center;
   
}

.seccionContactar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.contacto{
    display: flex;
    width: 588px;
    height: 320px;
    flex-direction: column;
    gap: 32px;
}

.encabezadoSeccionSeis{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.encabezadoDosSeccionSeis{
    display: flex;
    flex-direction: column;
    gap:24px; 
}

.tituloSecionSeis{
    color: #111827;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    
}
.contactoEmail{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.textoContacto{
    display: flex;
    gap:12px;
    color:#6B7280;
    font-size: 14px;
    font-weight: 400; 

}

.textoEmail{
    display: flex;
    gap:12px;
    color:#6B7280;
    font-size: 14px;
    font-weight: 400; 

}

.buscasTrabajo{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;    
}

.negritaYsub{
    font-weight: 600;
    line-height: 16px;
    text-decoration-line: underline;  
}

.textoSeccionSeis {
    color:#6B7280;
    font-size: 14px;
    font-weight: 400;   
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 32px 32px 48px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.itemFormulario{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
    color:#374151;
}
.enQuePodemosAyudar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px; 
}
textarea{
    padding-top:12px ;
    padding-left: 17px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.transparente{
    color: transparent;
}

select{
    border: none;
    width: 10%;
   
}

.telefono{
    display: flex;
    padding: 9px 13px;
    gap: 13px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);   
}

.telefono:focus-within{
    border: 2px solid #3F8F6B;
    background:#FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); 
}
.checkbox{
    display: flex;
    gap: 12px;
}
.inputBorder {

    padding: 9px 13px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
.inputBorder:hover{
    border: 1px solid #9B9EA3;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);   
}

textarea:hover{
    border: 1px solid #9B9EA3;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); 
}

.itemFormulario:focus{
    border: 2px solid #3F8F6B;
    background:#FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); 
}
.inputTel{
    border: none; 
    outline: none; 
    box-shadow: none; 
    background-color: transparent; 
}
input{
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;

}
.submit{
    display: flex;
   width: fit-content;
    padding: 12px 24px;
    gap: 8px; 
    border-radius: 4px;
    background: #2A5B45;

}
.Enviar{
    color:white;
}

footer{
background-color: #1F1815;
padding-top: 29px;
gap: 38px;
padding-bottom: 38px;

}

.footerContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 40px;
    padding-right: 40px;
}
.logoFooter{
    display: flex;
    color: #FFF;
    gap: 7px;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

.teAyudamos{
    display: flex;
    color: white;
    gap:16px;
    justify-content:space-between;
    width: 1132px;
    height: 152px;
}

.infoTelMail{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
}

.opcionesFooter{
    display: flex;
    flex-direction: column; 
    font-size: 14px;
    font-weight: 600;
}
.politicasFoto{
    display: flex;
    flex-direction: column;  
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.telFooter{
    display: flex;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;
    background: #515051;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
}

.mailFooter{
    display: flex;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px; 
    background: #515051;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
}
.primeraColumFooter{
    display: flex;
    width: 255px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
}
.opcionesFooter{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.politicasFoto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.footerBooton{
display: flex;
padding: 12px 380.5px 12px 540.5px;
align-items: center;
justify-content: center;
background: #2B2A2B;
color: #FFF;
font-size: 14px;
font-weight: 600;

}

.telFooter{
    align-items: center;
}

.mailFooter{
    align-items: center;
}

.tiendaBotton:hover{
    border-radius: 10px;
    background: rgba(247, 245, 243, 0.10); 
}

.aBlanco{
     color: white;
     text-decoration: none; /* Para quitar la subrayado por defecto */
}

a:visited {
    color: inherit; /* Restablece el color del texto al valor heredado */
    text-decoration: none; /* Elimina el subrayado por defecto */
  }