@font-face {
    font-family: "Outfit";
    src: url('./Outfit/Outfit-VariableFont_wght.ttf');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}
.tiposCafes{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 24px;
   padding: 24px;
   align-items: center; 
}
.cafeVenta:hover{
    border-radius: 8px;
    border: 1px solid #E3DED7;
    background: #F7F5F3;

}
.cafeVenta:hover .botonAñadir{
    border-radius: 4px;
    background-color: #2A5B45;
}

.tiendaBotton:hover{
    border-radius: 10px;
    background: rgba(247, 245, 243, 0.10); 
}

.aBlanco{
    color: white;
    text-decoration: none; /* Para quitar la subrayado por defecto */
}

a:visited {
   color: inherit; /* Restablece el color del texto al valor heredado */
   text-decoration: none; /* Elimina el subrayado por defecto */
 }

.container{
    display: flex;
    flex-direction: column;
    height: fit-content;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color:#2B2A2B ;
    padding: 12px 40px;
    align-items: center;
    color: white;
}

.logo{
    display: flex;
    gap: 7px;
    font-size: 23px;
}
.logoCafe{
    width: 20px;
    height: 25px;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    font-weight: 600;
    gap: 16px;
    padding: 16px;
}
.tiendaBotton{
    background-color: transparent;
    color: white;
    padding: 8px;
    gap: 8px;
    border: none;
    
}
.numeroContacto{
    display: flex;
    align-items: center;
    gap: 8px;
}

.botonIniciaSesion{
    color: white;
    background-color:#515051;
    padding: 12px 24px;
    border-radius: 4px;
    gap: 8px;
    border: none;
}


h1{
    font-size: 40px;
    font-weight: 600;
    color: #000;
}

h3{
    font-size: 18px;
    font-weight: 600; 
    color: #2A5B45;
}

.contenedorSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 48px 147px;
    align-items: center;
    justify-content: center;
    gap: 24px; 
    background-image:url(imagenCafe.jpeg);
    background-size: cover;
    background-position: center;
   
}
.tituloUnoSeccionDos{
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    
}
.contenedoresSeccionDos{
    display: flex;
    width: 996px;
    gap: 24px;

}
.contenedoresBlancosSeccionDos{
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color:#FFF ;
    border-radius: 8px;
    border: 1px solid #F7F5F3;
    width: 100%;
}
.logosSeccionDos{
    border-radius: 20px;
    background: #2A5B45;
    padding: 12px;

}
.titulosSeccionDos{
    color: white;
    font-size: 24px;
    font-weight: 500;
    gap: 8px;

}
.textoPedido{
    color: #111827;
    font-size: 14px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedorSeccionTres{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.tiposCafes{
   display: flex;
   justify-content: center;
   gap: 24px;
   padding: 24px;
   align-items: center; 
}
.cafeVenta{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    gap: 24px;
    align-items:center;
    text-align: center;
}
.cafeVenta:hover{
    border-radius: 8px;
    border: 1px solid #E3DED7;
    background: #F7F5F3;

}
.botonAñadir:hover{
    border-radius: 4px;
    background: #2A5B45;
}
.novedadesSeccionTres{
    color: #2A5B45;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

}
.botonAñadir{
    padding: 8px;
    gap: 8px;
    border-radius: 4px;
    background: rgba(42, 91, 69, 0.70); 
}

button{
    background-color: transparent;
    border: none;
    color: #FFF;
}
.verTodos{
   display: flex;
   justify-content: center;
   font-size: 14px;
    font-weight: 600;
    text-decoration-line: underline;
}
.infoCafe{
    display: flex;
    flex-direction: column;
    gap:12px;
}

.tipografiaCafes{
    font-size: 14px;
    font-weight: 600;
    
}






footer{
background-color: #1F1815;
padding-top: 29px;
gap: 38px;
padding-bottom: 38px;

}

.footerContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 40px;
    padding-right: 40px;
}
.logoFooter{
    display: flex;
    color: #FFF;
    gap: 7px;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
}

.telFooter{
    align-items: center;
}

.mailFooter{
    align-items: center;
}

.teAyudamos{
    display: flex;
    color: white;
    gap:16px;
    justify-content:space-between;
    width: 1132px;
    height: 152px;
}

.infoTelMail{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
}

.opcionesFooter{
    display: flex;
    flex-direction: column; 
    font-size: 14px;
    font-weight: 600;
}
.politicasFoto{
    display: flex;
    flex-direction: column;  
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}
.telFooter{
    display: flex;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px;
    background: #515051;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
}

.mailFooter{
    display: flex;
    padding: 12px 24px;
    gap: 8px;
    border-radius: 4px; 
    background: #515051;
    width: max-content;
    font-size: 14px;
    font-weight: 600;
}
.primeraColumFooter{
    display: flex;
    width: 255px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;   
}
.opcionesFooter{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.politicasFoto{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}

.footerBooton{
display: flex;
padding: 12px 380.5px 12px 540.5px;
align-items: center;
justify-content: center;
background: #2B2A2B;
color: #FFF;
font-size: 14px;
font-weight: 600;

}

.tiendaBotton:hover{
    border-radius: 10px;
    background: rgba(247, 245, 243, 0.10); 
}

.aBlanco{
     color: white;
     text-decoration: none; /* Para quitar la subrayado por defecto */
}

a:visited {
    color: inherit; /* Restablece el color del texto al valor heredado */
    text-decoration: none; /* Elimina el subrayado por defecto */
}


.botonAgotado{
    border-radius: 4px;
    background: var(--Taupe, #E3DED7);
    display: inline-flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
}

.agotado {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #E3DED7;
    gap: 24px;
    align-items:center;
    text-align: center;
    opacity: 0.4;
}

.circuloContador{
    width: 24px;
    height: 24px;
    border-radius: 200px;
    padding: 8px;
    color: white;
    background: #515051;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cestaNav{
    display: flex;
    gap: 8px;
}